<div class="row">
  <div class="col-md-10 col-md-offset-1">
    <h1 id="welcome">Woody's Peck-'n-Pick</h1>
  </div>
  <div class="col-md-6 col-md-offset-1">
    <img class="img-responsive"  src="img/index_woody.jpg"> </a>
  </div>
  <div class="col-md-3 col-md-offset-1">
    <p class="lead">Woody's Peck-'n-Pick searches for one word in a sentence or paragraph of text.
    </p>
    <form action="/results">
      <div class="form-group">
        <label for="prose">Provide Woody some prose to <strong>PECK</strong> at!
        </label>
        <textarea class="form-control" rows="5" name="prose"></textarea>
      </div>
      <div class="form-group">
      <label for="pick"> <strong>PICK</strong> a word from your prose for Woody to <strong>PECK</strong> for you!
      </label>
        <input id="pick" name="pick" class="form-control" type="text">
      </div>
      <button id="submit" type="submit" class="btn btn-primary btn-lg">PECK</button>
    </form>
  </div>
</div>
