<img src="img/index.jpg" class="img-responsive" alt="a cartoon woodpecker"/>
<h1>Welcome to Pecker Picker</h1>
<p class="lead">
A pecker is a person or thing that pecks, as a bird does, taking bit by bit, as with a beak.
<br>
A picker is a special tool or machine for picking fruit or vegetables.
<br>
A Pecker Picker is a Web app that searches for one word in a sentence or paragraph of text and returns a value equal to the number of times the target word appears in the text.
</p>
<form action="/results">
  <div class="form-group">
     <label for="prose">Provide some prose for us to peck at!
     </label>
     <textarea class="form-control" rows="5" name="prose"></textarea>
  </div>
  <div class="form-group">
     <label for="pick">Pick a word from your prose for us to peck for you!
     </label>
     <input id="pick" name="pick" class="form-control" type="text">
  </div>
  <button type="submit" class="">Submit</button>
</form>
