<div class="row">
  <div class="col-md-10 col-md-offset-1">
    <h1 id="welcome">Woody's Pecker Picker</h1>
  </div>

  <div class="col-md-6 col-md-offset-1">
    <img src="img/results_woody.jpg" class="img-responsive" alt="a cartoon woodpecker" />
  </div>
  <div class="col-md-3 col-md-offset-1">
    <h2>Your pick was pecked!</h2>
      <h2>Number of times "<%= @pick %>" appears in "<%= @prose %>":</h2>
      <p>
        <span id="pp_result" class="lead">
          <%= @pp_result %>
        </span>
      </p>
<form action="/" class="">
  <input type="submit" name="index" class="btn btn-primary btn-lg" value="PICK AGAIN">
</form>


  </div>
</div>
