#welcome {
  text-align: center;
}

h1, h2, h4, #pp_result {
  font-family: 'Bangers';
}

label, p {
  font-family: 'Droid Serif';
}

h1 {
  font-size: 6em;
}

button {
  padding: 10px;
  margin: 20px;
}

#pp_result {
  font-size: 6em;
}
